<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>

{% include 'booster-seo' %}

    <meta name="google-site-verification" content="OgfJ9T1Na5XpqY7YPLeGhRE98VtG3KULWpS1kzDYgmM">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="format-detection" content="telephone=no">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- include 'seo-title' -%}
    {%- comment -%}{%- comment smartseo_integration_begin_meta_data -%}{% comment %}<title>{{ seo_title }}</title>{% endcomment %}{%- endcomment smartseo_integration_end_meta_data -%}{%- endcomment -%}

    <!-- Avada Boost Sales Script -->
    {% include 'avada-boost-sales' %}
    <!-- /Avada Boost Sales Script -->

    {%- if page_description -%}
      {%- comment -%}{%- comment smartseo_integration_begin_meta_data -%}{% comment %}<meta name="description" content="{{ page_description | escape }}">{% endcomment %}{%- endcomment smartseo_integration_end_meta_data -%}{%- endcomment -%}
    {%- endif -%}

    {% include 'font-face' %}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};
      theme.strings = {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
      };
      theme.settings = {
        cartType: {{ settings.cart_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        quickView: {{ settings.quick_shop_enable }},
        themeVersion: "3.5.1"
      };
    </script>

    {% include 'oldIE-js' %}

    {% include 'defer-script' with 'vendor.js' %}

    {% if settings.enable_currencies %}
      <script src="/services/javascripts/currencies.js" defer="defer"></script>
      {% include 'defer-script' with 'jquery.currencies.min.js' %}
    {% endif %}

    {% include 'defer-script' with 'theme.js' %}

    {%- if template contains 'customers' -%}
      {% include 'defer-shopify-script' with 'shopify_common.js' %}
    {%- endif -%}

    {%- include 'social-meta-tags' -%}

    {{ content_for_header }}
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N1ZQVYG9PH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N1ZQVYG9PH');
    </script>
    {% include 'starapps-core' %}
    {% render 'shogun-head' %}
    <!-- RYVIU APP :: Settings global -->
    <script>
      var ryviu_global_settings = {{shop.metafields.ryviu.user_settings }};
    </script>
    <!-- RYVIU APP -->
    {{ shop.metafields.loox.global_html_head }}
    {% include 'hulk_po_vd.liquid' %}
    {% render 'vitals-loader' %}
    {% include 'bss-product-labels-configs' %}
    {% render 'judgeme_core' %}
    <!-- PAGEFLY CART HELPER - DO NOT DELETE -->
    <script>
              try {
              setTimeout(function () {
                window.__pagefly_helper_store__ &&
                  window.__pagefly_helper_store__.subscribe(function (res) {
                    $('body').trigger('added.ajaxProduct')
      });
              }, 2500);
            } catch (e) {
              console.warn(e);
            }
    </script>
  

{% if request.page_type == "customers/account" %}
  <style>
    #MainContent{
      display:inline-block;
      width:100%;
    }
  </style>
{% endif %}

  
  
 <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N1ZQVYG9PH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-N1ZQVYG9PH');

        <script type="text/javascript">
      _linkedin_partner_id = "4978370";
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
      </script><script type="text/javascript">
      (function(l) {
      if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
      window.lintrk.q=[]}
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})(window.lintrk);
      </script>
      <noscript>
      <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4978370&fmt=gif" />
      </noscript>
    </script> 


    <script type="text/javascript">
_linkedin_partner_id = "4978370";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(l) {
if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
window.lintrk.q=[]}
var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})(window.lintrk);
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4978370&fmt=gif" />
</noscript>
  
  
  {% include 'pagefly-app-header' %}</head>
  <body
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}"
    data-transitions="{{ settings.animate_page_transitions }}"
  >
    {% if settings.animate_page_transitions %}
      <script type="text/javascript">
        window.setTimeout(function() { document.body.className += " loaded"; }, 25);
      </script>
    {% endif %}

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {% section 'header' %}

        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>

        {% section 'footer' %}
      </div>
    </div>

    {% section 'newsletter-popup' %}

    {% if settings.cart_type == 'drawer' %}
      {% include 'ajax-cart-template' %}
    {% endif %}

    {% if settings.enable_currencies %}
      <span
        id="CurrencyData"
        class="hide"
        data-shop-currency="{{ shop.currency }}"
        data-default-currency="{{ settings.default_currency | default: shop.currency }}"
        data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
        data-money-format="{{ shop.money_format | strip_html }}"
        data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}"
      >
      </span>
    {% endif %}

    {% include 'qty-selector-template' %}
    {% include 'video-modal' %}
    {% include 'photoswipe-template' %}
    <!-- **BEGIN** Hextom USB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_usb_main', product: product, customer: customer %}
    <!-- **END** Hextom USB Integration // Main Include - DO NOT MODIFY -->
    {{ shop.metafields.loox.global_html_body | replace: ' src=', ' data-src=' }}
    {% if content_for_header contains 'product_label' -%}
      {%- include 'bss-product-label-js' -%}
      {%- include 'bss-label-style-css' -%}
      {%- include 'bss-product-label-fonts' -%}
    {%- endif %}
  </body>
</html>
